.page {
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  min-width: 320px;
  max-width: 1600px;
  padding: 0 200px 0 200px;
}

body {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
    padding: 0 90px 0 90px;
  }
}

@media screen and (max-width: 720px) {
  .page {
    max-width: 320px;
    padding: 0 16px 0 16px;
  }
}
