html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.page {
  margin: auto;
  background-color: black;
  color: white;
  font-family: "inter 400";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
